
$control_index: 402;

body
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
  font-weight: 400;

body, html, #app, .map-container, .map-item
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;

.leaflet-container
  background-color: rgb(205,210,212);

.map-control, .map-info, .map-control-wrap
  position: absolute;
  z-index: $control_index;
.map-control, .map-info
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0 1px 7px rgba(0,0,0,0.1);
  border-radius: 4px;

.map-control-wrap, .map-control
  left: 12px;
  top: 12px;
  .map-control
    position: static;
    margin-right: 6px;
    &:last-child
      margin-right: 0;

.map-control--inline .map-control
  display: inline-block;
  margin-right: 8px;

.el-input--small .el-input__inner
  height: 32px;

.map-control-padded
  padding: 5px 6px;

.map-control
  .el-form-item
    position: relative;
    margin: 0;
  .el-form--inline
    text-align: right;
  .el-form-item__content
    line-height: 1;
  .el-form-item--hover-label
    .el-form-item__label
      display: none;
      padding: 0 5px 0 0;
    &:hover .el-form-item__label
      display: inline-block;
  .el-form-item--has-label
    padding-top: 15px;
    position: relative;
    .el-form-item__label
      text-align: right;
      padding: 0;
      position: absolute;
      top: 5px;
      text-align: left;
      width: auto;
      color: #989a9f;
      font-size: 12px;
  .select-variable
    width: 16em;
  .select-geounit
    width: 6.5em;

.map-number-control
  vertical-align: top;
  text-align: center;
  padding: 0;
  .el-button
    border-width: 0;
    border-radius: 4px;
    border-top-width: 1px;
    border-color: #ddd;
    padding: 10px;
    box-shadow: none;
    margin: 0;
    display: none;
    &:first-child
      border-top-width: 0;
      display: block;
  &:hover .el-button
    display: block;
    border-radius: 0;
    &:first-child
      border-radius: 4px 4px 0 0;
    &:last-child
      border-radius: 0 0 4px 4px;
    &:last-child:first-child
      border-radius: 4px;

.el-switch__label
  font-size: 13px;

.map-control-wrap
  position: absolute;
  z-index: $control_index;

.map-control-wrap .map-control
  position: static;
  display: inline-block;

.map-control--right
  right: 12px;
  left: auto;
  .el-form
    text-align: right;
.map-control--row2
  top: 80px;

.el-loading-mask
  z-index: $control_index + 1;
  background-color: rgba(255,255,255,.5);

// .el-select-dropdown
//   transition-duration: 0.2s;

table
  border-collapse: collapse;
  border-spacing: 0;

h4, h5
  margin: 0.4em 0 0.4em;
  line-height: 1.3;

.leaflet-top, .leaflet-bottom, .leaflet-control
  z-index: $control_index

.map-item .leaflet-tooltip
  padding: 5px;
  // &:before
  //   display: none;

// hover tooltip for geojson features
.item-detail
  font-size: 14px;
  h4
    text-align: center;
    background: #f3f3f3;
    padding: 5px;
    margin-bottom: 0.6em;
    margin-top: 0;
    font-weight: normal;
    strong
      font-weight: 600;
  th, td
    padding: 0 5px;
  th
    font-weight: normal;
    text-align: right;

.map-info-wrap
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  z-index: $control_index;
  top: 19px;
  height: 0;
  overflow: visible;

.map-info
  display: inline-block;
  position: static;
  font-size: 14px;
  z-index: $control_index;
  padding: 6px 12px;
  color: #ccc;
  background: #fff;
  border: 1px solid #ccc;
  span, strong
    color: #333;

// side by side
.sbs-2, .sbs-3, .sbs-4
  .map-item
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
  .map-info-wrap
    left: 12px;
    text-align: left;
    top: 62px;
.sbs-3
  .select-variable
    width: 14em;
  .map-item
    width: 33.333%;
  .map-3
    border-right: 0;
.sbs-4
  .map-item
    height: 50%;
  .map-0, .map-1
    border-bottom: 1px solid #ccc;
  .map-0, .map-3
    border-right: 1px solid #ccc;


.map-legend
  color: #666;
  text-align: left;
  left: 12px;
  bottom: 12px;
  top: auto;
  width: 170px;
  padding: 0;
  .m2m-zoom-elem
    padding: 6px 10px 10px;
  p
    margin: 10px 0 0;
    line-height: 1.4;
    font-size: 12px;
  td
    line-height: 0;
    padding: 0;
    text-align: right;
  i.legend-box
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
  .note
    color: #999;

.m2m-zoom-toggler
  text-align: center;
  cursor: pointer;
  padding: 2px;
  transition: all 0.3s ease;
  transform: scaleY(1);
  .el-icon-arrow-up
    transform: scaleX(1.6);
.active .m2m-zoom-toggler
  transform: scaleY(-1);

.m2m-zoom-elem
  overflow: hidden;
.m2m-zoom-enter-active, .m2m-zoom-leave-active
  transition: all .5s ease;
.m2m-zoom-leave-active
  max-height: 0;

