.leaflet-popup-content-wrapper
  border-radius: 6px;

.marker-tooltip
  h3
    margin: 6px 0;
  .alt-name
    font-style: italic;
    margin: -2px 0 3px;
  .website a
    display: inline-block;
    max-width: 24em;
    text-overflow: ellipsis;
    overflow: hidden;
  ul
    margin: 0;
    padding: 0;
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding-top: 5px;
    list-style: none;
    max-height: 14em;
    overflow: auto;
  .tag
    display: inline-block;
    // background: #f3f3f3;
    // margin: 2px;
    // padding: 0 3px;
    // border-radius: 1px;
    // text-shadow: #fff 0 1px 0;